@-webkit-keyframes RE_CURSOR_ANIMATION {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes RE_CURSOR_ANIMATION {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes RE_CURSOR_ANIMATION {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes RE_CURSOR_ANIMATION {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.re-cursor {
  -webkit-animation: RE_CURSOR_ANIMATION 1s infinite;
  -moz-animation: RE_CURSOR_ANIMATION 1s infinite;
  -o-animation: RE_CURSOR_ANIMATION 1s infinite;
  animation: RE_CURSOR_ANIMATION 1s infinite;
}
